{% extends "layout.njk" %}

{% block content %}
<main>
    <form class="card" method="POST" action="/professores?_method=PUT">
        <section 
            class="avatar" 
            style="border-radius: 4px 0 0 4px; background: url({{ teacher.avatar_url }}) no-repeat center center / cover">
        </section>
        <section class="details">

            <h3>Editar professor</h3>

            {% include 'teachers/fields.njk' %}

            <input type="hidden" name="id" value="{{ teacher.id }}">

        </section>
    </form>
</main>

{% endblock content %}